<div class="parallax-container">
    <div class="parallax" id="parallax_1">
    </div>
    <div class="background-color: black;">
        <div style="height: 100%; font-size: 24px;">
        </div>
    </div>
    <div class="parallax" id="parallax_2">
    </div>
    <div style="background-color: black;" #text>
        <div style="height: 100%; font-size: 24px; color: white;">
        </div>
    </div>
    <div class="parallax" id="parallax_3">
    </div>
    <div style="background-color: teal;" #text>
        <div style="height: 100%; font-size: 14px; color: white; text-align: center;">
            arresville © 2021
        </div>
    </div>
</div>